body {
    background-image: url(./pexels-designecologist-1779487.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#span1 {
    font-size: 30px;
    margin-left: 30px;
    color: red;
    text-align: center;
    border: 2px solid white;
}

span {
    font-size: 30px;
    margin-left: 30px;
    color: blue;
    text-align: center;
    border: 2px solid white;
}